version: '3.9'

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - chat-network
    restart: unless-stopped

  backend:
    build:
      context: ./chatapp
      dockerfile: Dockerfile
    container_name: spring-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=chatapp
    depends_on:
      - mongodb
    networks:
      - chat-network
    restart: unless-stopped

  frontend:
    build:
      context: ./front-chat
      dockerfile: Dockerfile
    container_name: chat-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - chat-network
    restart: unless-stopped

networks:
  chat-network:
    driver: bridge